<!-- Jumbotron -->
<div class="jumbotron">
<h1>Colenso</h1>
<p class="lead">Welcome to the Colenso document database.</p>
<p><a class="btn btn-lg btn-success" href="#" role="button">Explore</a></p>
</div>