<h1>Search Results</h1>

<ul class="list-group">
<% @search_result.each do |link| %>
  <li class="list-group-item">
  	<% if @search_type != 'XQuery' %>
  		<%= link_to(link, "/view_document?path=#{link}") %>
  	<% else %>
  		<%= link %>
  	<% end %>
  </li>
  <% end %>
</ul>

</div> <!-- /container -->